// css 관련 보일러 플레이트는 주기적인 업데이트가 필요하다~

body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: $booking-color-text1;
  scroll-behavior: smooth;
  // 대부분 디자인은 antialiased가 추가된 채로 넘어옴
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: $font-default;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //클릭했을 때 반짝이는 효과
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

select,
input,
textarea,
button {
  // webkit 관련 브라우저 기능도 제거
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
}

input,
textarea {
  font-size: inherit;
  border: 0;
  &::placeholder {
    /* Chrome, Safari, Firefox */
    color: #444;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    /* IE, Edge */
    color: #444;
    opacity: 1;
  }
  &[readonly],
  &:disabled {
    &::placeholder {
      /* Chrome, Safari, Firefox */
      color: rgba(#000, 0.2);
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* IE, Edge */
      color: rgba(#000, 0.2);
      opacity: 1;
    }
  }
  // input창에서 내용이 있을 때 끝 부분에 X 버튼이 있음
  // 브라우저 자체에서 제공하는 이런 기능을 제거
  &::-ms-clear,
  &::-ms-reveal {
    /* IE, Edge */
    display: none;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
